body {
    background-color: white;
    text-align: center;

    
};
#nbalogo{
    background-image: url(.css/assets/nba-logo-transparent.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: auto;
};
#footer{

}
